.aboutMe {
  padding: 20px;
  background-color: #f0f0f0;
  color: #333;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
}

.aboutMe h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #2c3e50;
}

.aboutMe p {
  font-size: 1.2em;
  line-height: 1.6;
}
