.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
}

.navbar-logo {
  color: #fff;
  font-size: 24px;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-link:hover {
  text-decoration: underline;
}
