.projects {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%; /* Full width */
  max-width: 800px; /* Max width of 800px */
  margin: auto; /* Center the container */
}

.projects h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #e6e6e6;
}

.projects ul {
  list-style-type: none;
  padding: 0;
}

.projects li {
  color: #e6e6e6;
  text-align: center;
  margin: 10px 0;
  font-size: 1.2em;
}

.projects a {
  color: #0e87d7;
  text-decoration: none;
}

.projects a:hover {
  text-decoration: underline;
}
