@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap');

/* Your other styles */


body {
  background: linear-gradient(to bottom right, #2C3E50, #000000);
  margin: 0;
  font-family: 'Fira Mono', monospace;
}
